mat-card {
  width: 80%;
  max-width: 400px;
}

mat-card-content,
mat-card-title {
  width: 100%;
  text-align: center;
}

mat-card-header {
  display: initial;
}

mat-card-content a {
  width: 96px;
  height: 96px;
}

mat-card-content a mat-icon {
  height:96px !important;
  width:96px !important;
  line-height: 96px !important;
  font-size: 96px !important;
}
