<mat-grid-list cols="4" rowHeight="192px">

  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="(isHandset$ | async) ? 4 : 1">
    <mat-card>
      <mat-card-header>
        <mat-card-title i18n>{{tile.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <a [routerLink]="tile.link" [attr.aria-label]="'navigate to ' + tile.title" i18n-aria-label mat-icon-button>
            <mat-icon>{{tile.icon}}</mat-icon>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
